qgis-projets/QGIS Lorgues/Données/batigml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://ogr.maptools.org/"
    xmlns:ogr="http://ogr.maptools.org/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
    elementFormDefault="qualified"
    version="1.0">
<xs:annotation>
  <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
    <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
  </xs:appinfo>
</xs:annotation>
<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:AbstractFeature"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="featureMember">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="gml:AbstractFeatureMemberType">
                <xs:sequence>
                  <xs:element ref="gml:AbstractFeature"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="batigml" type="ogr:batigml_Type" substitutionGroup="gml:AbstractFeature"/>
<xs:complexType name="batigml_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:MultiSurfacePropertyType" nillable="true" minOccurs="0" maxOccurs="1"/> <!-- restricted to MultiPolygon --><!-- srsName="urn:ogc:def:crs:EPSG::2154" -->
        <xs:element name="fid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="20"/>
              <xs:fractionDigits value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="full_id" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="osm_id" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="osm_type" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="roof_shape" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amenity" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="building" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="wikipedia" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="wikidata" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="start_date" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="source_nam" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="source_her" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="religion" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ref_mhs" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mhs_inscri" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="layer" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="heritage_o" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="heritage" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="denominati" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="window" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="step_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="roof_mater" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="roof_colou" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="entrance" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="door" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="building_l" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="building_c" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="addr_stree" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="addr_postc" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="addr_house" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="addr_city" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cleabs" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nature" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="usage_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="usage_2" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="constructi" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="etat_de_l_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="date_creat" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="24"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="date_modif" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="24"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="date_d_app" nillable="true" minOccurs="0" maxOccurs="1" type="xs:date">
        </xs:element>
        <xs:element name="date_de_co" nillable="true" minOccurs="0" maxOccurs="1" type="xs:date">
        </xs:element>
        <xs:element name="sources" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="identifian" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="methode_d_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="precision_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="methode__1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="precisio_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nombre_de_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:long">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nombre_d_e" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:long">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="materiaux_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="materiau_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="hauteur" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="altitude_m" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="altitude_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="altitude_2" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="altitude_3" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="origine_du" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="appariemen" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
